<!DOCTYPE html>
<html>
    <head>
        <title>Consultations</title>
    </head>

    <body>
        <p align="center"><img src="static/images/download.png" alt="RVHS"></p>
        <h1 style="text-align: center; font-size:80px; color:black; font-family: calibri;">Consultation</h1>
        
        <style>
        button {background-color: #04AA6D;color: white;padding: 15px 5px;margin: 8px 0;border: none;cursor: pointer;width: 10%;}
        button:hover {opacity: 0.8;}
        </style>

        <form action="{{url_for('role')}}" method="GET" align="center">
            <button type="submit">Login</button>
        </form>
    </body>
</html>


