<!DOCTYPE html>
<html>
    <head>
        <title>Login Page</title>
    </head>

    <body>
        <style>
            button {background-color: #04AA6D;color: white;padding: 15px 5px;margin: 8px 0;border: none;cursor: pointer;width: 10%;}
            button:hover {opacity: 0.8;}
            h1 {font-size: 50px;}
        </style>

        <h1 align="center">Login Page</h1>
        <form action="{{url_for('role')}}" align="center" method="POST">
            <select name="role">
                <option value="student">Student</option>
                <option value="teacher">Teacher</option>
            </select>           
            <br><br>
            <button type="submit">Enter</button>
        </form>
    </body>
</html>