<!DOCTYPE html>
<html>
    <head>
        <title>Success</title>
    </head>

    <body>
        <style>
            h1 {font-family: calibri;}

            button {
                background-color: #04AA6D;
                color: white;
                padding: 14px 20px;
                margin: 8px 0;
                border: none;
                cursor: pointer;
                width: 10%;}

            button:hover {
                opacity: 0.8;
                }
        </style>

        <p align="center">Cancel Successful</p>
        <form align="center" action="{{url_for('student_homepage')}}" method="POST">
          <input type="hidden" name="ID" value="{{ID}}">
          <button type="submit">Home Page</button>
        </form>

        <form align="center" action="{{url_for('home')}}" method="POST">
            <input type="hidden" name="ID" value="{{ID}}">
            <button type="submit">Log Out</button>
        </form>
    </body>
</html>